@charset "utf-8";

@media screen and (max-width: 768px) {
    *{
        font-size: 1.1em;
    }
    header {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        width: 80vw;
        text-align: center;
    }
    main {
        width: 90vw;
    }

    h1 {
        flex-basis: 20px;
        font-size: 1.5em;
    }
}